region             = "us-east-1"
cluster_name       = "three-tier-cluster"
cluster_version    = "1.28"
vpc_cidr           = "10.0.0.0/16"
node_instance_type = "t3.medium"
node_desired_size  = 2
node_min_size      = 2
node_max_size      = 4
single_nat_gateway = true
ecr_repositories   = ["yelb-ui", "yelb-appserver", "yelb-db"]
